{{ define "main" }}
<div class="max-w-screen-lg w-full mx-auto py-8 px-4 flex flex-col gap-4">
    {{ partial "components/breadcrumb" . }}

    <div class="w-full mx-auto py-8">
        <div class="text-4xl font-semibold">{{ .Title }}</div>
    </div>

    {{ if gt (len .Sections) 0 }}
    <div class="relative w-full flex gap-6 flex-wrap p-4 bg-white shadow-sm rounded-xl">
        {{ range .Sections }}
        <a href="{{ .RelPermalink }}" class="w-36 aspect-[3/4] bg-white snap-start flex-shrink-0 flex flex-col overflow-hidden rounded-lg shadow relative">
            <div class="flew-grow-0 w-full h-full overflow-hidden">
                {{ range .RegularPages }}
                    {{ with $image := .Resources.GetMatch .Params.image }}
                    {{ $image := $image.Fill "192x192" }}
                    <img class="h-full w-full object-cover" src="{{ $image.RelPermalink }}" alt="">
                    {{ end }}
                    {{ break }}
                {{ end }}
            </div>
            <div class="p-2 absolute -bottom-2 -left-2 -right-1 top-24 bg-gray-100/80 backdrop-blur-sm rotate-6">
            </div>
            <div class="p-2 absolute bottom-0 left-0 right-0 top-24 tracking-wider flex flex-col justify-between">
                <div class="text-xl" href="{{ .RelPermalink }}">
                    🏷️{{ .Title }}
                </div>
                <span class="text-sm">{{ len .Pages }}篇文章</span>
            </div>
        </a>
        {{ end }}
    </div>
    {{ end }}

    {{ $paginator := .Paginate .RegularPages }}
    {{ partial "components/page-list/sort-by-year" $paginator.Pages }}

    {{ partial "components/pagination.html" . }}

</div>
{{ end }}