<div class="breadcrumb w-full bg-white py-2 px-4 shadow-sm">
    <ul class="flex align-baseline flex-wrap">
        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </ul>
</div>



{{ define "breadcrumbnav" }}
    {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }} 
    {{ else if not .p1.IsHome }} 
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
    {{ end }}

    <li class="{{ if eq .p1 .p2 }} active {{ else }} after:content-['>'] after:mr-0.5 after:text-gray-300 {{ end }} whitespace-nowrap" >
        <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
    </li>
{{ end }}
