{{- with .Paginator }}
    {{/*  If there is only one page, then pagination is not needed.  */}}
    {{- if ne .Last.PageNumber 1 }}
        {{- $currentPageNumber := .PageNumber }}

        <div class="pagination is-centered">
            <ul class="pagination-list">
                {{- with .First }}
                    {{- if and (ne $currentPageNumber .PageNumber) (ne $currentPageNumber .Next.PageNumber) }}
                    <li><a href="{{ .URL }}" class="pagination-link">
                        1
                        {{- if gt .Last.PageNumber 5}}
                            {{- if gt (sub $currentPageNumber 2) .PageNumber }}
                                &ll;
                            {{- end }}
                        {{- end }}
                    </a></li>
                    {{- end }}
                {{- end }}

                {{- with .Prev }}
                    {{- if gt $currentPageNumber (sub .Last.PageNumber 2) }}
                        {{- with .Prev }}
                            {{- if eq $currentPageNumber .Last.PageNumber}}
                                {{- with .Prev }}
                                    {{- if ne .PageNumber 1}}
                                        <li><a href="{{ .URL }}" class="pagination-link">{{ .PageNumber }}</a></li>
                                    {{- end }}
                                {{- end }}
                            {{- end }}
                            {{- if ne .PageNumber 1}}
                                <li><a href="{{ .URL }}" class="pagination-link">{{ .PageNumber }}</a></li>
                            {{- end }}
                        {{- end }}
                    {{- end }}
                    <li><a href="{{ .URL }}" class="pagination-link">{{ .PageNumber }}</a></li>
                {{- end }}

                <li><a href="{{ .URL }}" class="pagination-link is-current">{{ $currentPageNumber }}</a></li>

                {{- with .Next }}
                <li><a href="{{ .URL }}" class="pagination-link">{{ .PageNumber }}</a></li>
                    {{- if lt $currentPageNumber 3 }}
                        {{- with .Next }}
                            {{- if ne .PageNumber .Last.PageNumber}}
                            <li><a href="{{ .URL }}" class="pagination-link">{{ .PageNumber }}</a></li>
                                {{- if eq $currentPageNumber 1}}
                                    {{- with .Next }}
                                        {{- if ne .PageNumber .Last.PageNumber}}
                                            <li><a href="{{ .URL }}" class="pagination-link">{{ .PageNumber }}</a></li>
                                        {{- end }}
                                    {{- end }}
                                {{- end }}
                            {{- end }}
                        {{- end }}
                    {{- end }}
                {{- end }}

                
                {{- with .Last }}
                    {{- if and (ne $currentPageNumber .PageNumber) (ne $currentPageNumber .Prev.PageNumber) }}
                    <li><a href="{{ .URL }}" class="pagination-link">
                        {{- if gt .Last.PageNumber 5}}
                            {{- if lt (add $currentPageNumber 2) .PageNumber }}
                                &gg;
                            {{- end }}
                        {{- end }}
                        {{ .PageNumber }}
                    </a></li>
                    {{- end }}
                {{- end }}

            </footer>
        </div>
    {{- end }}
{{- end }}