@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    margin: 1em 0 0.5em;
    position: relative;
}

.article h1::before,
.article h2::before,
.article h3::before,
.article h4::before,
.article h5::before,
.article h6::before {
    content: '§';
    left: -0.7em;
    @apply absolute text-gray-300;
}

.article h1 {
    @apply text-3xl font-bold;
}

.article h2 {
    @apply text-2xl font-bold;
}

.article h3 {
    @apply text-xl font-bold;
}

.article h4 {
    @apply text-lg font-bold;
}

.article h5 {
    @apply text-base font-bold;
}

.article h6 {
    @apply text-base font-normal;
}

.article p {
    @apply text-base;
}

.article>p {
    @apply my-5;
}

.article i,
.article em {
    @apply italic;
}

.article b,
.article strong {
    @apply font-semibold;
}

.article a,
.article u {
    @apply underline underline-offset-2;
}

.article small {
    @apply text-xs;
}

.article del {
    @apply text-gray-400;
}

.article mark {
    @apply px-0.5 pb-0.5 bg-accent text-inherit rounded;
}

.article blockquote {
    @apply relative my-4 ml-4 text-inherit;
}

.article blockquote>p {
    @apply my-5;
}

.article blockquote::before {
    content: '';
    @apply absolute -left-4 h-full w-1 bg-accent;
}

.article kbd {
    font-size: .875rem;
    @apply px-0.5 border-2 border-solid border-gray-400 rounded;
}

.article code {
    @apply rounded;
}

.article table {
    border: 1px solid #5b5b5b;
    margin: 1rem 0;
}

.article table tr:nth-child(2n) {
    background: #3c3c3c;
}

.article thead {
    background: #4d4d4d;
}

.article td,
th {
    padding: .35rem .7rem;
    border: 1px solid #5b5b5b;
}

.article dl {
    @apply my-5;
}

.article ul {
    @apply my-5 pl-8 list-disc;
}

.article ul li ol:first-of-type,
.article ul li ul:first-of-type,
.article ul li:first-child {
    @apply mt-0;
}

.article ul ol,
.article ul ul {
    @apply mb-0;
}

.article ol {
    @apply my-5 pl-8 list-decimal;
}

.article ol li ol:first-of-type,
.article ol li ul:first-of-type,
.article ol li:first-child {
    @apply mt-0;
}

.article ol ol,
.article ol ul {
    @apply mb-0;
}

.article ul.task-list {
    @apply -ml-5;
    list-style-type: none;
}

.article .task-list ul,
.article .task-list ol {
    @apply ml-5;
}

.article .task-list ul.task-list {
    @apply ml-0;
}

.article .task-list-item-checkbox {
    @apply mr-2;
}

.article li {
    @apply break-words;
}

.pagination {
    @apply flex justify-center text-gray-700;
}

.pagination .page-item.disabled a {
    @apply hidden;
}

.pagination .page-item:not(.disabled) a {
    @apply h-9 w-9 mr-1 flex justify-center items-center rounded-full  cursor-pointer;
}

.pagination .page-item:not(.active) a {
    @apply hover:bg-secondary hover:text-white bg-gray-200;
}

.pagination .page-item.active a {
    @apply bg-secondary text-white;
}