<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="shortcut icon" href="{{ '/style/images/favicon.png' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/style/images/favicon.png' | relative_url }}" />
    <meta name="author" content="{{- page.author | default: site.author.name -}}">
    <title>
        {%- if page.title -%}
        {{- site.title | append: " | " | append: page.title -}}
        {%- else -%}
        {{- site.title -}}
        {%- endif -%}
    </title>
    <link rel="stylesheet" href="{{ '/style/css/style.css' | relative_url }}">
</head>