{%- include snippets/assign.html target=site.data.variables.default.chart
  source0=site.chart source1=page.chart -%}
{%- if __return == true -%}
  {%- include markdown-enhancements/chart.html -%}
{%- endif -%}

{%- include snippets/assign.html target=site.data.variables.default.mathjax
  source0=site.mathjax source1=page.mathjax -%}
{%- if __return == true -%}
  {%- include markdown-enhancements/mathjax.html -%}
{%- endif -%}

{%- include snippets/assign.html target=site.data.variables.default.mermaid
  source0=site.mermaid source1=page.mermaid -%}
{%- if __return == true -%}
  {%- include markdown-enhancements/mermaid.html -%}
{%- endif -%}

{%- if page.waterfall -%}
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript">
  {% for grid in page.waterfall.grids%}
    // init Masonry
    var $grid = $('.{{ grid }}').masonry({
      columnWidth: 200,
      itemSelector: '.item'
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
  {% endfor %}
</script>
{%- endif -%}