{% if paginator.total_pages > 1 %}
<div class="relative w-full my-6">
    <div class="flex justify-center text-gray-700">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            class="h-12 w-12 mr-1 flex justify-center items-center rounded-full hover:bg-secondary hover:text-white bg-gray-200 cursor-pointer">
            <svg class="feather feather-chevron-left w-6 h-6" fill="none" height="100%" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewbox="0 0 24 24" width="100%"
                xmlns="http://www.w3.org/2000/svg">
                <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
        </a>
        {% endif %}
        <div class="flex h-12 font-medium rounded-full bg-gray-200">
            {% if paginator.total_pages <= 7 %} {% for page in (1..paginator.total_pages) %} <a
                class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full hover:bg-secondary hover:text-white {% if page == paginator.page %} bg-primary text-white {% endif %}"
                href="{% if page == 1 %}{{ '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">
                {{ page }}
                </a>
                {% endfor %}
                {% else %}
                {% assign limit_r = paginator.total_pages | minus: 2 %}
                {% if paginator.page <=3 or paginator.page>= limit_r %}
                    {% for page in (1..3) %}
                    <a class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full hover:bg-secondary hover:text-white {% if page == paginator.page %} bg-primary text-white {% endif %}"
                        href="{% if page == 1 %}{{ '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">
                        {{ page }}
                    </a>
                    {% endfor %}
                    <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full">
                        ...
                    </div>

                    {% for page in (limit_r..paginator.total_pages) %}
                    <a class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full hover:bg-secondary hover:text-white {% if page == paginator.page %} bg-primary text-white {% endif %}"
                        href="{% if page == 1 %}{{ '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">
                        {{ page }}
                    </a>
                    {% endfor %}
                    {% else %}
                    {% assign page = 1 %}
                    <a class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full hover:bg-secondary hover:text-white {% if page == paginator.page %} bg-primary text-white {% endif %}"
                        href="{% if page == 1 %}{{ '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">
                        {{ page }}
                    </a>
                    <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full">
                        ...
                    </div>
                    {% assign limit_l = paginator.page | minus: 1 %}
                    {% assign limit_r = paginator.page | plus: 1 %}
                    {% for page in (limit_l..limit_r) %}
                    <a class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full hover:bg-secondary hover:text-white {% if page == paginator.page %} bg-primary text-white {% endif %}"
                        href="{% if page == 1 %}{{ '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">
                        {{ page }}
                    </a>
                    {% endfor %}
                    <div
                        class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full">
                        ...
                    </div>
                    {% assign page = paginator.total_pages %}
                    <a class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in rounded-full hover:bg-secondary hover:text-white {% if page == paginator.page %} bg-primary text-white {% endif %}"
                        href="{% if page == 1 %}{{ '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">
                        {{ page }}
                    </a>
                    {% endif %}
                    {% endif %}
                    <div
                        class="w-12 h-12 md:hidden flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded-full bg-primary text-white">
                        {{ paginator.page }}</div>
        </div>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            class="h-12 w-12 ml-1 flex justify-center items-center rounded-full hover:bg-secondary hover:text-white bg-gray-200 cursor-pointer">
            <svg class="feather feather-chevron-right w-6 h-6" fill="none" height="100%" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewbox="0 0 24 24" width="100%"
                xmlns="http://www.w3.org/2000/svg">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </a>
        {% endif %}
    </div>
</div>
{% endif %}