<div class="grid gird-cols-1 md:grid-cols-2 gap-4">
    {{ range first 4 .Pages}}
    <div class="flex h-24 bg-white p-4 rounded shadow overflow-hidden">
        <div class="flex-1 flex flex-col items-stretch">
            <a class="" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div>{{ with .Date }}{{ .Date}}{{ end }}</div>
        </div>
        <div class="flex-grow-0 h-24 w-24 -mt-4 -mr-4 overflow-hidden">
            <img class="h-full w-full object-cover" src="https://r2.immmmm.com/2023/07/qd-d1-1.jpg">
        </div>
    </div>
    {{ end }}
</div>