{{- define "main" -}}

{{ partial "navigation.html" . }}

<div class="flex flex-col space-y-8">
    {{ $paginator := .Paginate .Pages -}}
    {{ range $page := $paginator.Pages }}
    {{ if $page.Params.hide }}
        {{ continue }}
    {{ end }}
    <div class="relative flex items-stretch border-b border-white/20">
        <img class="absolute left-0 w-20 lg:w-32 h-full border-l border-t border-white/20 object-cover" {{- if not
            (isset $page.Params "thumbnail" ) -}} src="{{ `images/bg.png` | relURL }}">
        {{- else if in $page.Params.thumbnail "/" -}}
        src="{{ $page.Params.thumbnail | relURL }}">
        {{- else -}}
        src="{{ $page.Params.thumbnail | printf `%s%s` .Site.Params.thumbnails_folder | relURL }}">
        {{- end -}}
        <div class="ml-24 lg:ml-36">
            <a class="hover:underline" href="{{ $page.RelPermalink  }}">
                <div class="text-2xl font-semibold">{{ $page.Title }}</div>
            </a>
            <div class="mb-4 text-base text-[#868E96]">{{ $page.Date.Format "Jan 2, 2006" }}</div>
            <div class="mb-4 text-lg text-[#DEE2E6]">{{ $page.Summary | default (htmlUnescape "&emsp;") | truncate 50 }}
            </div>
        </div>
    </div>
    {{- end }}
    {{ template "_internal/pagination.html" . }}
</div>
{{- end -}}