<head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta name="viewport"
                content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="{{ .Description | default .Site.Params.description }}">

        {{ if isset .Site.Params "favicon" -}}
        <link rel="shortcut icon" href="{{- .Site.Params.favicon | relURL -}}">
        <link rel="apple-touch-icon" href="{{- .Site.Params.favicon | relURL -}}" />
        {{- end }}

        <meta name="author" content="{{- .Params.author | default .Site.Author -}}">
        <title>
                {{- if .Page.Title -}}
                {{- printf "%s | %s" .Site.Title .Title -}}
                {{- else -}}
                {{- .Site.Title -}}
                {{- end -}}
        </title>
        <link rel="stylesheet" href="{{ `revealjs/dist/reset.css` | relURL }}">
        <link rel="stylesheet" href="{{ `revealjs/dist/reveal.css` | relURL }}">
        <link rel="stylesheet" href="{{ `revealjs/dist/theme/white.css` | relURL }}">
        <link rel="stylesheet" href="{{ `revealjs/plugin/highlight/monokai.css` | relURL }}">
</head>

<body gtools_scp_screen_capture_injected="true">

        {{ .Content }}

        <script src="{{ `revealjs/dist/reveal.js` | relURL }}"></script>
        <script src="{{ `revealjs/plugin/notes/notes.js` | relURL }}"></script>
        <script src="{{ `revealjs/plugin/markdown/markdown.js` | relURL }}"></script>
        <script src="{{ `revealjs/plugin/highlight/highlight.js` | relURL }}"></script>
        <script src="{{ `revealjs/plugin/math3/math3.js` | relURL }}"></script>
        <script>
                // More info about initialization & config:
                // - https://revealjs.com/initialization/
                // - https://revealjs.com/config/
                Reveal.initialize({
                        hash: true,
                        math3: {
                                tex: {
                                        inlineMath: [['$', '$'], ['\\(', '\\)']],
                                        displayMath: [['$$', '$$'], ['\\[', '\\]']],
                                        processEscapes: true,
                                        macros: {
                                                dif: '\\mathop{}\\!\\mathrm{d}',
                                                p: '\\partial',
                                                bold: '\\boldsymbol',
                                                tx: '\\text'
                                        }
                                }
                        },
                        slideNumber: true,
                        // Learn about plugins: https://revealjs.com/plugins/
                        plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMath3]
                });
        </script>
</body>

</html>