@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629438698226') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-heart-fill:before {
  content: "\eda8";
}

.icon-links-fill:before {
  content: "\edc3";
}

.icon-mail-fill:before {
  content: "\edc7";
}

.icon-book-read-fill:before {
  content: "\ee39";
}

.icon-alipay-fill:before {
  content: "\eea6";
}

.icon-gitlab-fill:before {
  content: "\eea8";
}

.icon-bilibili-fill:before {
  content: "\eea9";
}

.icon-github-fill:before {
  content: "\eeaa";
}

.icon-playstation-fill:before {
  content: "\eeac";
}

.icon-qq-fill:before {
  content: "\eead";
}

.icon-facebook-circle-fill:before {
  content: "\eeae";
}

.icon-twitter-fill:before {
  content: "\eeb0";
}

.icon-douban-fill:before {
  content: "\eeaf";
}

.icon-switch-fill:before {
  content: "\eeb1";
}

.icon-xbox-fill:before {
  content: "\eeb2";
}

.icon-weibo-fill:before {
  content: "\eeb3";
}

.icon-youtube-fill:before {
  content: "\eeb4";
}

.icon-wechat-pay-fill:before {
  content: "\eeb5";
}

.icon-wechat-fill:before {
  content: "\eeb6";
}

.icon-zhihu-line:before {
  content: "\eeb7";
}

.icon-qr-code-fill:before {
  content: "\ef64";
}

.icon-rss-fill:before {
  content: "\ef69";
}

