

/* ---------- scss placeholder --------- */

%heading {
  color: var(--heading-color);
  font-weight: 400;
  font-family: 'Lato', 'Microsoft Yahei', sans-serif;
}

%section {
  #core-wrapper & {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}

%anchor {
  > a {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  @media (hover: hover) {
    > a {
      border-bottom: none !important;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.25s ease-in, visibility 0s ease-in 0.25s;
    }

    &:hover {
      > a {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.25s ease-in, visibility 0s ease-in 0s;
      }
    }
  }
}

%anchor-relative {
  @extend %anchor;

  > a {
    position: relative;
    bottom: 1px;
  }
}

%tag-hover {
  background: var(--tag-hover);
  transition: background 0.35s ease-in-out;
}

%table-cell {
  padding: 0.4rem 1rem;
  font-size: 95%;
  white-space: nowrap;
}

%link-hover {
  color: #d2603a !important;
  border-bottom: 1px solid #d2603a;
  text-decoration: none;
}

%link-color {
  color: var(--link-color);
}

%link-underline {
  border-bottom: 1px solid var(--link-underline-color);
}

%clickable-transition {
  transition: color 0.35s ease-in-out;
}

%no-cursor {
  user-select: none;
}

%no-bottom-border {
  border-bottom: none;
}

%cursor-pointer {
  cursor: pointer;
}

%normal-font-style {
  font-style: normal;
}

/* ---------- scss mixin --------- */

@mixin no-text-decoration {
  text-decoration: none;
}

%sidebar-links {
  color: rgba(117, 117, 117, 0.9);
  user-select: none;
}

@mixin ml-mr($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin pl-pr($val) {
  padding-left: $val;
  padding-right: $val;
}

@mixin input-placeholder {
  opacity: 0.6;
}

@mixin label($font-size: 1rem, $font-weight: 600, $color: var(--label-color)) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin align-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

$sidebar-width: 260px !default;        // the basic width
$sidebar-width-small: 210px !default;  // screen width: >= 850px, <= 1199px (iPad landscape)
$sidebar-width-large: 350px !default;  // screen width: >= 1650px
$tab-count: 5 !default;   // backward compatible (version <= 4.0.2)
$tab-height: 3rem !default;
$tab-cursor-height: 1.6rem !default;
$cursor-width: 2px !default;    // the cursor width of the selected tab

#sidebar {
    @include light-scheme;
    @include pl-pr(0);
  
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: $sidebar-width;
    z-index: 99;
    background: var(--sidebar-bg);
  
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
    a {
      @extend %sidebar-links;
  
      &:hover {
        @include no-text-decoration;
  
        color: var(--sidebar-active-color) !important;
      }
    }
  
    .nav-link {
      border-radius: 0;
      font-size: 0.95rem;
      font-weight: 600;
      letter-spacing: 1px;
      display: table-cell;
      vertical-align: middle;
    }
  
    .nav-item {
      text-align: center;
      display: table;
      height: $tab-height;
  
      &.active {
        .nav-link {
          color: var(--sidebar-active-color);
        }
      }
  
      &:not(.active) > a {
        @extend %clickable-transition;
      }
    }
  
    ul {
      height: $tab-height * $tab-count;
      margin-bottom: 2rem;
      padding-left: 0;
  
      li {
        width: 100%;
  
        &:last-child {
          a {
            position: relative;
            left: $cursor-width / 2;
            width: 100%;
          }
  
          &::after { // the cursor
            display: table;
            visibility: hidden;
            content: "";
            position: relative;
            right: 1px;
            width: $cursor-width;
            height: $tab-cursor-height;
            border-radius: 1px;
            background-color: var(--nav-cursor-color);
            pointer-events: none;
          }
        }
      } // li
  
      @mixin fix-cursor($top) {
        top: $top;
        visibility: visible;
      }
  
      @for $i from 1 through $tab-count {
        $offset: $tab-count - $i;
        $top: -$offset * $tab-height + ($tab-height - $tab-cursor-height) / 2;
  
        @if $i < $tab-count {
          > li.active:nth-child(#{$i}),
          > li.nav-item:nth-child(#{$i}):hover {
            ~ li:last-child::after {
              @include fix-cursor($top);
            }
          }
        } @else {
          > li.active:nth-child(#{$i}):last-child::after,
          > li.nav-item:nth-child(#{$i}):last-child:hover::after {
            @include fix-cursor($top);
          }
        }
  
      } // @for
  
    } // ul
  
  } // #sidebar

  @media (hover: hover) {
    #sidebar ul > li:last-child::after {
      -webkit-transition: top 0.5s ease;
      -moz-transition: top 0.5s ease;
      -o-transition: top 0.5s ease;
      transition: top 0.5s ease;
    }
  }