<!-- hightlight.js -->
{{/*  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.4.0/styles/atom-one-light.min.css"
    rel="stylesheet">  */}}
<link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.4.0/styles/github-dark-dimmed.min.css"
    rel="stylesheet">
<script id="highlightjs"
    src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.4.0/highlight.min.js"
    async></script>

<script>
    document.getElementById('highlightjs').addEventListener('load', function () {
        hljs.highlightAll();
    });
</script>
