<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="shortcut icon" href="{{ '/style/images/favicon.png' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/style/images/favicon.png' | relative_url }}" />
    <meta name="author" content="{{- page.author | default: site.author.name -}}">
    <title>
        {%- if page.title -%}
        {{- site.title | append: " | " | append: page.title -}}
        {%- else -%}
        {{- site.title -}}
        {%- endif -%}
    </title>

    <link rel="stylesheet" href="{{ '/assets/ppt/dist/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/ppt/dist/reveal.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/ppt/dist/theme/white.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/ppt/plugin/highlight/monokai.css' | relative_url }}">
</head>

<body gtools_scp_screen_capture_injected="true">

    {{ content }}

    <script src="{{ '/assets/ppt/dist/reveal.js' | relative_url }}"></script>
    <script src="{{ '/assets/ppt/plugin/notes/notes.js' | relative_url }}"></script>
    <script src="{{ '/assets/ppt/plugin/markdown/markdown.js' | relative_url }}"></script>
    <script src="{{ '/assets/ppt/plugin/highlight/highlight.js' | relative_url }}"></script>
    <script src="{{ '/assets/ppt/plugin/math3/math3.js' | relative_url }}"></script>
    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            hash: true,
            math3: {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']],
                    displayMath: [['$$', '$$'], ['\\[', '\\]']],
                    processEscapes: true,
                    macros: {
                        dif: '\\mathop{}\\!\\mathrm{d}',
                        p: '\\partial',
                        bold: '\\boldsymbol',
                        tx: '\\text'
                    }
                }
            },
            slideNumber: true,
            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMath3]
        });
    </script>
</body>

</html>